
ion-toolbar{
  --background: var(--legado-bg-header);
}

ion-title{
  --color: var(--legado-txt-primary);
}

super-tabs-toolbar{
  --st-scrollable-toolbar-padding-left: 0;
  --super-tabs-toolbar-background: var(--legado-bg);
  --st-indicator-color: var(--legado-txt-primary);
}

super-tab-button{
  --st-label-font-size: 13px;
  --st-label-color-active: var(--legado-txt-primary);
  --st-label-color-inactive: var(--legado-txt-primary);
}



super-tabs-toolbar::after{
  height: 8px;
  opacity: 0.3;
}


.spinner{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}