<ion-header [translucent]="true" class="ion-no-border" mode="ios">
  <ion-toolbar color="none">
    <ion-title>
      SuperTabs
    </ion-title>
  </ion-toolbar>
</ion-header>

<super-tabs (tabChange)="onClick($event)">
  
  <super-tabs-toolbar slot="top" scrollable="true">
    <super-tab-button *ngFor="let category of categories">
      <ion-label>{{ category.label | uppercase }}</ion-label>    
    </super-tab-button>
  </super-tabs-toolbar>

  <super-tabs-container>
    <super-tab *ngFor="let category of categories">
      <ion-content>
        <div class="spinner" *ngIf="loading || categoryActive !== category.value">
          <ion-spinner name="bubbles"></ion-spinner>
        </div>
        <app-news-list *ngIf="categoryActive === category.value" [category]="categoryActive" [articles]="articles"></app-news-list>
      </ion-content>
    </super-tab>
  </super-tabs-container>

</super-tabs>
