super-tabs-toolbar{
  --st-scrollable-toolbar-padding-left: 0;
}

.spinner{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


super-tabs-toolbar{
  --super-tabs-toolbar-background: none;
  --st-indicator-color: red;
  background-image: none;
}


super-tabs-toolbar::after{
  height: 8px;
  opacity: 0.3;
}