<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>

      <ion-buttons slot="start">
        <ion-button (click)="goToMundo()" fill="clear">
          <ion-icon name="menu-sharp" [color]="darkMode ? 'light' : 'dark'"></ion-icon>
          <ion-menu-button menu="first" color="primary"></ion-menu-button>
        </ion-button>
      </ion-buttons>


    <ion-title class="ion-text-center">
      SuperTabs
    </ion-title>

    <ion-buttons slot="end">
      <ion-toggle color="warning" [checked]="darkMode" (ionChange)="toggleTheme()" mode="md"></ion-toggle>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<super-tabs #superTabs (tabChange)="onClick($event)">
  
  <super-tabs-toolbar slot="top" scrollable="true" color="legado">
    <super-tab-button *ngFor="let category of categories">
      <ion-label>{{ category.label | uppercase }}</ion-label>    
    </super-tab-button>
  </super-tabs-toolbar>

  <super-tabs-container>
    <super-tab *ngFor="let category of categories">
      <ion-content>
        <div class="spinner" *ngIf="loading || categoryActive !== category.value">
          <ion-spinner name="bubbles"></ion-spinner>
        </div>
        <app-news-list *ngIf="categoryActive === category.value" [category]="categoryActive" [articles]="articles"></app-news-list>
      </ion-content>
    </super-tab>
  </super-tabs-container>

</super-tabs>
